<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动画</title>
    <script src="../lib/d3.v5.js"></script>
</head>
<body>
<script type="text/javascript">
    var width = 400;
    var height = 400;
    var svg = d3.select('body').append('svg')
            .attr('width', width)
            .attr('height', height);
    var continent = ["亚洲", "欧洲", "非洲", "美洲", "大洋洲"];
    var color = d3.schemeCategory10;
    var outerRadius = Math.min(width, height) * 0.5 - 40;
    var innerRadius = outerRadius - 30;
    var formatValue = d3.formatPrefix(",.0", 1e3);
    var ribbon = d3.ribbon().radius(innerRadius);
    var population = [
        [9000, 870, 3000, 1000, 5200],
        [3400, 8000, 2300, 4922, 374],
        [2000, 2000, 7700, 4881, 1050],
        [3000, 8012, 5531, 500, 400],
        [3540, 4310, 1500, 1900, 300]
    ];
    var arc = d3.arc()
            .innerRadius(innerRadius)
            .outerRadius(outerRadius);
    var chord = d3.chord()
            .padAngle(0.05)
            .sortSubgroups(d3.descending);

    var g = svg.append("g")
            .attr("transform", "translate(" + width / 2 + "," + height / 2 + ")")
            .datum(chord(population));
    var group = g.append("g")
            .attr("class", "groups")
            .selectAll("g")
            .data(function (chords) {
                return chords.groups;
            })
            .enter().append("g");
    group.append("path")
            .style("fill", function (d) {
                return color[d.index];
            })
            .style("stroke", function (d) {
                return d3.rgb(color[d.index]).darker();
            })
            .attr("d", arc);

    var groupTick = group.selectAll(".group-tick")
            .data(function (d) {
                return groupTicks(d, 1e3);
            })
            .enter().append("g")
            .attr("class", "group-tick")
            .attr("transform", function (d) {
                return "rotate(" + (d.angle * 180 / Math.PI - 90) + ") translate(" + outerRadius + ",0)";
            });

    groupTick.append("line")
            .attr("x2", 6);

    groupTick
            .filter(function (d) {
                return d.value % 5e3 === 0;
            })
            .append("text")
            .attr("x", 8)
            .attr("dy", ".35em")
            .attr("transform", function (d) {
                return d.angle > Math.PI ? "rotate(180) translate(-16)" : null;
            })
            .style("text-anchor", function (d) {
                return d.angle > Math.PI ? "end" : null;
            })
            .text(function (d) {
                return formatValue(d.value);
            });

    g.append("g")
            .attr("class", "ribbons")
            .selectAll("path")
            .data(function (chords) {
                return chords;
            })
            .enter().append("path")
            .attr("d", ribbon)
            .style("fill", function (d) {
                return color[d.target.index];
            })
            .style("stroke", function (d) {
                return d3.rgb(color[d.target.index]).darker();
            });

    function groupTicks(d, step) {
        var k = (d.endAngle - d.startAngle) / d.value;
        return d3.range(0, d.value, step).map(function (value) {
            return {value: value, angle: value * k + d.startAngle};
        });
    }

</script>
</body>
</html>