<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>动画</title>
    <script src="../lib/d3.v5.js"></script>
</head>
<body>
<script type="text/javascript">
    var width = 400;
    var height = 400;
    var svg = d3.select('body').append('svg')
            .attr('width', width)
            .attr('height', height);
    var nodes = [
        {name: "0"},
        {name: "1"},
        {name: "2"},
        {name: "3"},
        {name: "4"},
        {name: "5"},
        {name: "6"}
    ];

    var edges = [
        {source: 0, target: 1},
        {source: 0, target: 2},
        {source: 0, target: 3},
        {source: 1, target: 4},
        {source: 1, target: 5},
        {source: 1, target: 6}
    ];

    var links = d3.forceLink()
            .links(edges)
            .distance(90);
    var simulation = d3.forceSimulation()
            .nodes(nodes);
    simulation.force('link', links);
    simulation.force('charge', d3.forceManyBody());
    simulation.restart();

    var color = d3.scaleOrdinal(d3.schemeCategory10);
    var lines = svg.selectAll('.forceLine')
            .data(edges)
            .enter()
            .append('line')
            .attr('class', 'forceLine');
    var circles = svg.selectAll('.forceCircle')
            .data(nodes)
            .enter()
            .append('circle')
            .attr('cx', function (d) {
                return d.x;
            })
            .attr('cy', function(d){
                return d.y;
            })
            .attr('class', 'forceCircle')
            .attr('r', 20)
            .style('fill', function (d, i) {
                return color(i);
            })
            .call(simulation.drag);
    var texts = svg.selectAll('.forceText')
            .data(nodes)
            .enter()
            .append('text')
            .attr('class', 'forceText')
            .attr('x', function (d) {
                return d.x;
            })
            .attr('y', function(d){
                return d.y;
            })
            .attr('dy', '.3em')
            .text(function (d){
                return d.name;
            });

    simulation.on("tick", function () {
        //更新连线的端点坐标
        lines.attr("x1", function (d) {
            return d.source.x;
        });
        lines.attr("y1", function (d) {
            return d.source.y;
        });
        lines.attr("x2", function (d) {
            return d.target.x;
        });
        lines.attr("y2", function (d) {
            return d.target.y;
        });

        //更新节点坐标
        circles.attr("cx", function (d) {
            return d.x;
        });
        circles.attr("cy", function (d) {
            return d.y;
        });

        //更新节点文字的坐标
        texts.attr("x", function (d) {
            return d.x;
        });
        texts.attr("y", function (d) {
            return d.y;
        });

    });

</script>
</body>
</html>